.Product-Page {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 240px;
  margin-bottom: 2em;
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
}

.Product-Photo {
  width: 100%;
  height: auto;
}

.Description-Wrapper {
  margin-top: 2em;
}

.Products-Name {
  margin-left: 5vw;
  margin-top: 2em;
  margin-bottom: 1em;
  font-size: 2rem;
}

.Product-Price {
  font-size: 1.4rem;
}